@import url('https://fonts.googleapis.com/css?family=Cuprum');
html {
    font-size: 10px;
}
body {
    padding-top: 80px;
    background: #fff;
    font-size: 1.4rem;
}
header {
    position: fixed;
    top: 0;
    left:0;right: 0;
    background: #02415a;
    height: 30px;
    z-index:100;
}
header .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
header ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: auto 0;
    font-size: 1.2rem;
}
header ul.left {
    display: none;
    margin-right: auto;
}
header ul.right {
    margin-left: auto;
}
header ul.left li a:after {
    content: ' ・ ';
}
header ul.left li:last-child a:after {
    content: '';
}
header ul.right li {
    margin-left: 10px;
}
header ul.right li.active {
    background: white;
    padding: 2px 6px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
header ul.right li.active a, header ul.right li.active a:visited {
    color: #02415a;
}
header ul.right li.active a:hover, header ul.right li.active a:active {
    color: #02415acc;
}
header a, header a:visited{
    color: white;
}
header a:hover, header a:active {
    color: #ffffffcc;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    z-index: 100;
    border: none;
    position: fixed;
    width: 100%;
    top: 30px;
    background: #fff;
}
.navbar-brand {
    color: #6289a1 !important;
    font-family: 'Cuprum', sans-serif;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}
.navbar-brand-title {
    display: inline-block;
    margin-left: 10px;
}
.navbar-brand span {
    color: #05668D;
    font-size: 1.6rem;
}
.navbar-default .navbar-nav>li>a {
    color: #55707b;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: #f1f4f5;
    color: #688998;
}
.navbar-default .navbar-nav>li>a i {
    font-size: 11px;
    margin-right: 3px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #05668D;
    background-color: #f0f5f8;
    position: relative;
}
.navbar-default .navbar-nav>li.active>a:after {
    content: "";
    display: block;
    height: 3px;
    background-color: #05668D !important;
    position: absolute;
    left:0;right: 0;
    bottom: 0;
}
.navbar-default .navbar-nav>li>a:hover:after {
    content: "";
    display: block;
    height: 3px;
    background-color:#A7BBC5;
    position: absolute;
    left:0;right: 0;
    bottom: 0;
}
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
#main {
    position: relative;
}
#main .main-background {
    width: 100%;
    max-height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

#main .container .text-wrapper {
    color: white;
    text-align: right;
    text-shadow: 0 2px 5px #0000008f;
    background: #00000090;
    padding: 20px;
    margin: auto -15px;
    font-size: 0.8em;
}
#main .container .text-wrapper h4{
    text-align: left;
    margin: 5px 0;
    font-size: 1.4em;
}

.carousel-image{
    max-height: 380px;
    overflow: hidden;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
.carousel-caption {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+46,0.3+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 46%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 46%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 46%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
}
.carousel-caption h3 {
    margin: 20px 0;
}
.carousel-indicators {
    margin-bottom: 0;
    bottom: 5px;
}


.box {
    /*border-radius: 3px;*/
    /*box-shadow: 0 10px 30px -5px #d2d2d2;*/
    /*background-color: white;*/
    /*border: 1px solid #f7f7f7;*/
    border-radius: 3px;
    box-shadow: 0 5px 30px -5px #e2e2e2;
    background-color: white;
    border: 1px solid #f7f7f7;
    margin-bottom: 30px;
}

.navsidebar, .nav-child {
    padding: 0;
    position: relative;
    list-style-type: none;
}
.nav-child {
    background: #FFF;
    border: 1px solid #eee;
    border-radius: 3px;
}
.navsidebar a {
    color: #55707b;
    display: block;
    padding: 15px;
}
.navsidebar li {
    position: relative;
    padding: 5px;
}
.navsidebar li.deeper.parent {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: top 22px right 10px;
}
.navsidebar li:hover, .navsidebar li.active {
    background-color: #05658c;
}
.navsidebar li:hover>a, .navsidebar li.active>a {
    color: white;
}
.navsidebar li.deeper.parent:hover>ul.nav-child {
    display: block;
}
ul.nav-child {
    display: none;
    z-index: 9;
    background-color: #fbfcfd;
    border: none;
}
ul.nav-child li {
    padding: 5px;
}


.news-block p{
    color: #789;
    height: 60px;
    overflow: hidden;
    position: relative;
}
.news-block p.small{
    height:51px;
}
.news-block p:after {
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    height: 25px;
    bottom: 0;
    right:0;
    left:0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.5+52,0.5+52,1+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 52%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 52%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 52%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.news-main .heading {
    max-height: 38px;
    overflow: hidden;
}

.gray {
    color: #aaa;
}
.blue-gray {
    color: #789;
}

.news-sidebar {
    padding: 0 0 0 5px;

}
.news-main {
    padding: 0;
}
.news-main .news-main-image {
    max-height: 300px;
    overflow: hidden;
    position: relative;
}
.news-main .news-timer {
    margin-top: 5px;
    height: 0;
    background-color: #05658c;
    transition: height 100ms;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
}
.news-main .news-timer.news-timer-start {
    height: 5px;
    -webkit-animation: grow-hor 10000ms both linear;
    -moz-animation: grow-hor 10000ms both linear;
    -ms-animation: grow-hor 10000ms both linear;
    -o-animation: grow-hor 10000ms both linear;
    animation: grow-hor 10000ms both linear;
}
.news-block .news-sidebar .media-heading {
    max-height: 30px;
    overflow: hidden;
}
.news-block .news-sidebar .news-media-image {
    max-height: 60px;
    overflow: hidden;
}
.news-block .news-sidebar .news-media-image img {
    width: 80px;
}
.news-block .news-sidebar p:after {
    pointer-events: none;
    background: -moz-linear-gradient(top, #ffffff00 0%, #ffffff80 52%, #ffffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff00 0%,#ffffff80 52%,#ffffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff00 0%,#ffffff80 52%,#ffffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.news-block #news-list.news-sidebar .media:nth-child(1) {
    margin-top: -5px;
}
.news-block .news-sidebar a {
    color: inherit;
    text-decoration: none;
}
#main-news-block.news-block .news-sidebar .media.active:before {
    content: '';
    display: block;
    position: absolute;
    height: 12px;
    width: 12px;
    line-height: 16px;
    border-radius: 50%;
    border: 1px dashed #05658c;
    top: 7px;
    right: 12px;
    z-index:10;
    animation: rotate 1.5s ease-in-out infinite;

}

.news-block .news-sidebar .media {
    position: relative;
    overflow: visible;
    height: 100px;
    margin-top: 0;
    cursor: pointer;
    transition: transform 150ms;
    background-color: #ffffff;
    padding: 10px 0;
}
.news-block #news-list.news-sidebar .media {
    padding: 5px 5px 0 10px;
}
.news-block #news-list.news-sidebar .media:hover {
    z-index:9;
    transform: translateY(0px) translateX(5px);
    box-shadow: -5px 1px 10px #f5f5f5;
}
.news-block .news-sidebar .media.active p:after {
    /*background: -moz-linear-gradient(top, #f0f5f800 0%, #f0f5f880 52%, #f0f5f8ff 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top, #f0f5f800 0%,#f0f5f880 52%,#f0f5f8ff 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom, #f0f5f800 0%,#f0f5f880 52%,#f0f5f8ff 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); !* IE6-9 *!*/
}

.news-block .news-sidebar .media.removing {
    -webkit-animation: swipedLeft 200ms forwards ease-out;
    -moz-animation: swipedLeft 200ms forwards ease-out;
    -ms-animation: swipedLeft 200ms forwards ease-out;
    -o-animation: swipedLeft 200ms forwards ease-out;
    animation: swipedLeft 200ms forwards ease-out;
    margin-bottom: -100px;
    pointer-events: none;
}

.people-list .media {
    margin-top: 0;
    padding: 7px 15px;
    cursor: pointer;
}
.people-list .media:nth-child(1) {
    border-bottom: 1px solid #eee;
    padding: 0 10px 20px;
    margin-bottom: 10px;
}
.people-list .media:not(:nth-child(1)):hover {
    background: #f0f5f8;
}
.people-list .media:not(:nth-child(1)) .media-body .media-heading {
    font-weight: normal;
}
.people-list .media:not(:nth-child(1)) .media-body p {
    display: none;
}
.hide-bullets {
    list-style:none;
    padding: 0;
}
.hide-bullets li {
    padding: 0 5px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
#galleryCarousel .carousel-image {
    overflow: hidden;
}
#galleryCarousel .carousel-image img {
    width: auto;
    height: 100%;
    position: relative;
    box-shadow: 0 0 30px #00000039;
}
#galleryCarousel .carousel-image img.bg {
    position: absolute;
    height: auto;
    width: 100%;
    left: 0;
    top: -25%;
    -webkit-filter: brightness(0.6) blur(4px);
    filter: brightness(0.6) blur(4px);
    box-shadow: none;
}
#galleryCarousel .carousel-inner {
    background-color: #2f3e48;
}
#galleryCarousel .carousel-image {
    height: 250px;
    text-align: center;
}
.hide-bullets a {
    width: 100%;
    padding: 5px;
    display: block;
}
.hide-bullets a img {
    max-width: 100%;
    transition: transform 150ms;
}
.hide-bullets a.active img {
    border: 2px solid #05658c;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px #6098af;
}

.fixed-table {
    position: relative;
}
.fixed-table tbody{
    display:block;
    max-height: 363px;
    overflow:auto;
    padding-bottom: 40px;
}
.fixed-table thead, .fixed-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
.fixed-table .fixed-table-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
}
.fixed-table .fixed-table-bottom td {
    border-top-width: 2px;
}

#certificates img {
    width: 100%;
}


.slider-wrapper {
    width: 90%;
    margin: auto;
    position: relative; }
.slider-wrapper .slider-list {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 50px 0;
    font-size: 0; }
.slider-wrapper .slider-list > div {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    font-size: 1.2rem;
    float: none;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms; }
.slider-wrapper .slider-button {
    position: absolute;
    height: 5rem;
    line-height: 5rem;
    font-size: 5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer; }
.slider-wrapper .slider-button.slider-button-left {
    left: -5%;
    text-align: right;
    margin-left: -5px; }
.slider-wrapper .slider-button.slider-button-right {
    right: -5%;
    margin-right: -5px; }

.name-list .row {
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 0;
        left: 0;
        padding: 0 20% 20px;
        bottom: 0;
    }
    #main .container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    #main .container .text-wrapper {
        color: white;
        text-align: right;
        text-shadow: 0 2px 5px #0000008f;
        position: absolute;
        background: #00000090;
        top: 60%;
        right: 0;
        padding: 20px;
        border-radius: 3px;
        font-size: 1.4em;
    }

}
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
@media (min-width: 992px) {
    header ul.left {
        display: flex;
    }
    .padding-md-left {
        padding-left: 30px;
        padding-right: 0;
    }
    .news-main {
        padding: 0 5px;
    }
    .navsidebar li {
        padding: 0;
    }
    .navsidebar li:hover, .navsidebar li.active {
        background-color: #f1f4f5;
    }
    .navsidebar li:hover>a, .navsidebar li.active>a {
        color: #55707b;
    }
    ul.nav-child {
        margin: 0 0 0 -1px;
        left: 100%;
        top: 0 !important;
        width: 100%;
        max-width: 100%;
        position: absolute;
        background-color: #fff;
        border: 1px solid #eee;
        box-shadow: 0 3px 10px #cccccc40;
    }
    ul.nav-child li {
        padding: 0;
    }
    .col-md-24 {
        width: 20%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-md-72 {
        width: 60%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}



@-webkit-keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    50% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    51% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
    100% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
}
@-khtml-keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    50% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    51% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
    100% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
}
@-moz-keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    50% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    51% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
    100% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
}
@-ms-keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    50% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    51% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
    100% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
}
@-o-keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    50% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    51% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
    100% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
}
@keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    50% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
    }
    51% {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
    100% {
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin:bottom;
        -moz-transform-origin:bottom;
        -ms-transform-origin:bottom;
        -o-transform-origin:bottom;
        transform-origin:bottom;
    }
}


@-webkit-keyframes grow-hor {
    0% {
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@-khtml-keyframes grow-hor {
    0% {
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@-moz-keyframes grow-hor {
    0% {
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@-ms-keyframes grow-hor {
    0% {
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@-o-keyframes grow-hor {
    0% {
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@keyframes grow-hor {
    0% {
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@-webkit-keyframes swipedLeft {
    0% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        display: block;
        margin-bottom: 0;
    }
    59% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
        display: block;
    }
    60% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        display: none;
        margin-bottom: 0;
    }
    80% {
        margin-bottom: 0;
    }
    100% {
        opacity: 0;
        display: none;
        margin-bottom: -100px;
    }
}
@-khtml-keyframes swipedLeft {
    0% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        display: block;
        margin-bottom: 0;
    }
    59% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
        display: block;
    }
    60% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        display: none;
        margin-bottom: 0;
    }
    80% {
        margin-bottom: 0;
    }
    100% {
        opacity: 0;
        display: none;
        margin-bottom: -100px;
    }
}
@-moz-keyframes swipedLeft {
    0% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        display: block;
        margin-bottom: 0;
    }
    59% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
        display: block;
    }
    60% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        display: none;
        margin-bottom: 0;
    }
    80% {
        margin-bottom: 0;
    }
    100% {
        opacity: 0;
        display: none;
        margin-bottom: -100px;
    }
}
@-ms-keyframes swipedLeft {
    0% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        display: block;
        margin-bottom: 0;
    }
    59% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
        display: block;
    }
    60% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        display: none;
        margin-bottom: 0;
    }
    80% {
        margin-bottom: 0;
    }
    100% {
        opacity: 0;
        display: none;
        margin-bottom: -100px;
    }
}
@-o-keyframes swipedLeft {
    0% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        display: block;
        margin-bottom: 0;
    }
    59% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
        display: block;
    }
    60% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        display: none;
        margin-bottom: 0;
    }
    80% {
        margin-bottom: 0;
    }
    100% {
        opacity: 0;
        display: none;
        margin-bottom: -100px;
    }
}
@keyframes swipedLeft {
    0% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
        display: block;
        margin-bottom: 0;
    }
    59% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
        display: block;
    }
    60% {
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        transform: translateX(-50px);
        display: none;
        margin-bottom: 0;
    }
    80% {
        margin-bottom: 0;
    }
    100% {
        opacity: 0;
        display: none;
        margin-bottom: -100px;
    }
}

@keyframes rotate {
    0% {
        box-shadow: inset 0 0 0 #44b6e4;
        transform: rotate(0deg);
    }
    50% {
        box-shadow: inset 0 0 20px #44b6e4;
    }
    100% {
        box-shadow: inset 0 0 0 #44b6e4;
        transform: rotate(360deg);
    }
}