@import url('https://fonts.googleapis.com/css?family=Cuprum');

body {
    padding-top: 50px;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    z-index: 100;
    border: none;
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar-brand {
    color: #6289a1 !important;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
}
.navbar-brand span {
    color: #05668D;
}
.navbar-default .navbar-nav>li>a {
    color: #55707b;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: #05668D07;
}
.navbar-default .navbar-nav>li>a i {
    font-size: 11px;
    margin-right: 3px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #05668D;
    background-color: #05668D10;
    position: relative;
}
.navbar-default .navbar-nav>.active>a:after {
    content: "";
    display: block;
    height: 3px;
    background-color: #05668D;
    position: absolute;
    left:0;right: 0;
    bottom: 0;
}
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
.carousel-image{
    max-height: 550px;
    overflow: hidden;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
.carousel-caption {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+10,0.3+90,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 10%, rgba(0,0,0,0.3) 90%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.3) 90%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.3) 90%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.carousel-caption h3 {
    margin: 20px 0;
}
@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 0;
        left: 0;
        padding: 0 20%;
        bottom: 50px;
    }
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}