@import url('https://fonts.googleapis.com/css?family=Cuprum');

body {
    padding-top: 50px;
    background: #fff;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    z-index: 100;
    border: none;
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
}
.navbar-brand {
    color: #6289a1 !important;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
}
.navbar-brand span {
    color: #05668D;
}
.navbar-default .navbar-nav>li>a {
    color: #55707b;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: #f1f4f5;
    color: #688998;
}
.navbar-default .navbar-nav>li>a i {
    font-size: 11px;
    margin-right: 3px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #05668D;
    background-color: #f0f5f8;
    position: relative;
}
.navbar-default .navbar-nav>.active>a:after {
    content: "";
    display: block;
    height: 3px;
    background-color: #05668D;
    position: absolute;
    left:0;right: 0;
    bottom: 0;
}
.navbar-default .navbar-nav>li>a:hover:after {
    content: "";
    display: block;
    height: 3px;
    background-color:#A7BBC5;
    position: absolute;
    left:0;right: 0;
    bottom: 0;
}
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
.carousel-image{
    max-height: 380px;
    overflow: hidden;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
.carousel-caption {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+46,0.3+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 46%, rgba(0,0,0,0.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 46%,rgba(0,0,0,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 46%,rgba(0,0,0,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */
}
.carousel-caption h3 {
    margin: 20px 0;
}
.carousel-indicators {
    margin-bottom: 0;
    bottom: 5px;
}
.navsidebar, .nav-child {
    padding: 0;
    position: relative;
    list-style-type: none;
    background: #FFF;
    border: 1px solid #eee;
    border-radius: 3px;
}
.navsidebar a {
    color: #55707b;
    display: block;
    padding: 15px;
}
.navsidebar li {
    position: relative;
}
.navsidebar li.deeper.parent {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: top 22px right 10px;
}
.navsidebar li:hover, .navsidebar li.active {
    background-color: #05658c;
}
.navsidebar li:hover>a, .navsidebar li.active>a {
    color: white;
}
.navsidebar li.deeper.parent:hover>ul.nav-child {
    display: block;
}
ul.nav-child {
    display: none;
    z-index: 9;
    background-color: #fbfcfd;
    border: none;
}
ul.nav-child li {
    padding: 5px;
}

.news-block{
    padding:10px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.news-block p{
    color: #789;
    height: 60px;
    overflow: hidden;
    position: relative;
}
.news-block p.small{
    height:51px;
}
.news-block p:after {
    content: '';
    display: block;
    position: absolute;
    height: 25px;
    bottom: 0;
    right:0;
    left:0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.5+52,0.5+52,1+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 52%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 52%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 52%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.gray {
    color: #aaa;
}

.news-sidebar {
    margin: -10px 0 -10px -5px;
    padding: 10px;
    background: #f0f5f8;
}

.news-block .news-sidebar p:after {
    background: -moz-linear-gradient(top, #f0f5f800 0%, #f0f5f880 52%, #f0f5f8ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f0f5f800 0%,#f0f5f880 52%,#f0f5f8ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f0f5f800 0%,#f0f5f880 52%,#f0f5f8ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.news-block .news-sidebar .media {
    position: relative;
    overflow: visible;
}
.news-block .news-sidebar .media.active:before {
    content: '';
    position: absolute;
    width: 5px;
    left: -10px;
    top: -20px;
    bottom: 0;
    height: 0;
    margin-top: 0;
    margin-bottom: auto;
    transition: 5s;
    background: #05658c;
}
.news-block .news-sidebar .media:first-child.active:before{
    top: -10px;
    bottom: -15px;
}
.news-block .news-sidebar .media.active.p:before {
    height: 100%;
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 0;
        left: 0;
        padding: 0 20% 20px;
        bottom: 0;
    }
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
@media (min-width: 992px) {
    .navsidebar li:hover, .navsidebar li.active {
        background-color: #f1f4f5;
    }
    .navsidebar li:hover>a, .navsidebar li.active>a {
        color: #55707b;
    }
    ul.nav-child {
        margin: 0 0 0 -1px;
        left: 100%;
        top: 0 !important;
        width: 100%;
        max-width: 100%;
        position: absolute;
        background-color: #fff;
        border: 1px solid #eee;
        box-shadow: 0 3px 10px #cccccc40;
    }
    ul.nav-child li {
        padding: 0;
    }
    .col-md-24 {
        width: 20%;
        float: left;
    }
    .col-md-72 {
        width: 60%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
